
<div class="row">
    <div class="col-sm-12 col-md-12 mt-4">
      <div class="card">
        <div class="card-body text-center">
            <h1>Productos destacados</h1><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quam, quae quia voluptate numquam dolorum accusantium animi dignissimos blanditiis cumque. Officiis dicta, neque recusandae iure voluptatem molestias minima veniam esse?</p>
          <a href="#" class="btn btn-warning">Mas informacion</a>
        </div>
      </div>
    </div>


  </div>



  <div class="row m-4">
    <div class="col-md-3">
        <div class="card">
          <img src="https://www.pcfactory.cl/public/foto/38935/2_500.jpg?t=1602804193" class="card-img-top" width="300px" height="400px"> 
          <div class="card-body">
            <h5 class="card-title text-center">Apple® iPad 10.2" Wi-Fi 32GB Space Gray 8va Gen</h5>
            <p class="card-text text-center">El nuevo iPad, con pantalla Retina de 10,2 pulgadas, combina una extraordinaria capacidad con una versatilidad y facilidad de uso inigualables. Cuando descubras las posibilidades que te ofrece el potente chip A12 Bionic, la compatibilidad con el Apple Pencil y todas las increíbles cosas que puedes hacer con iPadOS 14, vas a disfrutarlo más que nunca.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="https://www.pcfactory.cl/public/foto/30754/1_500.jpg?t=1544624536" class="card-img-top" width="300px" height="400px"> 
          <div class="card-body">
            <h5 class="card-title text-center">Creality® Impresora 3D de Resina LD-001</h5>
            <p class="card-text text-center">Tecnología de primera: Con una altura de capa por defecto de 0.5mm, las capas de tus impresiones podrán ser tan delgadas como la mitad del espesor de una hoja, o similares al pelo humano. Esto te permitirá detalles sin precedentes en impresoras 3D no industriales. Además, la LD-001 viene con 10GB de memoria interna para permitirte impresiones por Wi-Fi, o internet cableado. La impresión manual por USB también es soportada.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="https://www.pcfactory.cl/public/foto/40975/1_500.jpg?t=1617974476" class="card-img-top" width="300px" height="400px"> 
          <div class="card-body">
            <h5 class="card-title text-center">Echo® Asistente de voz en Español Echo Charcoal (4ta Generación) con Hub Zigbee</h5>
            <p class="card-text text-center">Asistente de voz en Español Echo Charcoal (4ta Generación) con Hub Zigbee</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="https://www.pcfactory.cl/public/foto/37515/1_500.jpg?t=1595536653" class="card-img-top" width="300px" height="400px"> 
          <div class="card-body">
            <h5 class="card-title text-center">DJI® Mavic Air 2</h5>
            <p class="card-text text-center">Domina tomas aéreas creativas gracias al video 4K / 60fps sin esfuerzo. El perfil de color plano D-Cinelike retiene más información para el procesamiento posterior . El códec de video HEVC (H.265) graba más información de la imagen, usa menos almacenamiento y conserva el rango dinámico y los detalles de su metraje, asegurando el contenido del siguiente nivel.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
        </div>
      </div>

  </div>